@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Oswald:wght@200;300&family=Poppins:wght@300;400;500;600&display=swap');

body {
    background-image: url("imege/fon.jpg");
    font-family: 'Inter', sans-serif;
    width: 1200px;
    height: 1200px;
}

.title {
    text-align: center;
    color: rgb(0, 80, 80);
    outline: 2px solid;
    background-color: azure;
    width: 260px;
    border-radius: 30px;
    margin-left: 580px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
}

.js-products {
    width: 150px;
    height: 150px;
    margin-left: 5px;

     
}

.bread {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    outline: 2px solid;
    transform: translate(20px);
}

.Ioaf {    
    width: 150px;
    height: 150px;
    border-radius: 10px;
    outline: 2px solid;
    transform: translate(20px);
}

.croisant {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    outline: 2px solid;
    transform: translate(380px);
    top: -200px;
}

.cupcakes {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    outline: 2px solid;
    transform: translate(200px);
    top: -565px;
}

.donut {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    outline: 2px solid;
    transform: translate(200px);
    top: -565px;
}

.buns {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    outline: 2px solid;
    transform: translate(380px);
    top: -975px;
}

.text-buns {
    position: relative;
    color: #ffff;
    transform: translate(380px);
    top: -976px;
}

.text-bread {
    color: #ffff;
    transform: translate(30px);
}

.text-Ioaf {
    color: #ffff;
    transform: translate(20px);
}

.text-croisant {
    position: absolute;
    display: flex;
    color: #ffff;
    transform: translate(385px);
    justify-content: space-evenly;
    top: 480px;
}

.text-cupcakes {
    position: relative;
    color: #ffff;
    transform: translate(205px);
    top: -565px;
}

.text-donut {
    position: relative;
    color: #ffff;
    transform: translate(200px);
    top: -566px;
}

.card-title {
    margin-top: -950px;
    font-size: 18px;
}

.js-alert-alert-secondary {
    font-size: 18px;
    text-align: center;
}

.card-title {
    margin-left: 5px;
    color: rgb(0, 80, 80);
    text-align: center;
}

.form-control {
    border-radius: 5px;
    color: rgb(0, 80, 80);
}

.js-btn-btn-primary {
    margin-top: 10px;
    color: rgb(0, 80, 80);
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: lightpink;
    border-style: none;
}

.js-card-title {
    color: rgb(0, 80, 80);
}

.card-body {
    position: relative;
    outline: 2px solid;
    width: 210px;
    margin-left: 1050px;
    border-radius: 10px;
    background-color: azure;
    top: -200px;
}

.js-items-counter-wrapper {
    color: #ffff;
    position: relative;
    margin-top: 900px;
    cursor: pointer;
    top: -1150px;
    margin-left: 330px;
}

.js-card-body-border-top {
    outline: 2px solid;
    width: 260px;
    margin-left: 1000px;
    border-radius: 10px;
    background-color: azure;
}

.js-button {
    top: -2025px;
}

.js-delete-button {
    position: absolute;
    transform: translate(120px);
    top: 290px;
    cursor: pointer;
}

.js-delete-button2 {
    position: absolute;
    transform: translate(125px);
    top: 495px;
    cursor: pointer;
}

.js-delete-button3 {
    position: absolute;
    transform: translate(499px);
    top: 495px;
    cursor: pointer;
}
.js-delete-button4 {
    position: absolute;
    transform: translate(300px);
    top: 290px;
    cursor: pointer;
}

.js-delete-button5 {
    position: absolute;
    transform: translate(315px);
    top: 495px;
    cursor: pointer;
}

.js-delete-button6 {
    position: absolute;
    transform: translate(495px);
    top: 290px;
    cursor: pointer;
}

.search-txt {
    position: absolute;
    width: 220px;
    height: 27px;
    left: 140px;
    top: 39px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 95px;
   }
   
   .search-btn {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 329.67px;
    top: 46.89px;
    color: var(--light);
   }
   
   